@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*
{
    padding:0px;
    margin:0px;
    text-decoration: none;
    box-sizing: border-box;
}


:root
{
    --color-black:#595758;
    --color-raising-black:#272838;
    --color-rich-black:#02020A;
    --color-eerie-black:#191716;
    --color-white:#FFFFFF;

}
:root
{
    --fonte1:Verdana,geneva,tahoma,sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;;

}
html, body
{
    min-height: 100vh;
    font-family: var(--fonte1);
}
header, footer
{
    color: var(--color-white);
    background-color: var(--color-rich-black);
    text-align: center;
}


header > h1
{
    padding-top: 50px;
    font: small-caps; /*Opção menos "gritante" do que o "text transform" que joga todas as letras para maiusculas*/
    /*text-transform: capitalize;*/
    font-family: var(--fonte2);
    font-size: 4em;
}
header > p
{
    color: var(--color-white);
    padding-bottom:50px;
    padding-top: 0%;
}
header a:hover
{
    text-decoration: underline solid white;
}
a
{
    color: #FFFFFF;
    font-weight: bolder;

}
section /*Configurações a serem aplicadas para ambas as sections (com imagem de fundo e sem imagens)*/
{
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em; /*espaçamento entre linhas*/
padding-left: 50px;
font-family: var(--fonte3);
font-size: 3.5vh;
}
section.sem-imagem /*Configurações a serem aplicadas somente as sections sem imagens de fundo*/
{
background-color:var(--color-white);
color: #FFFFFF;

}
section.sem-imagem > p
{

    width: 700px;
    color: black;
    padding-bottom: 2em;
 
}
section.com-imagem /*Configurações a serem aplicadas apenas as section com imagem de fundo*/
{

background-color:var(--color-raising-black);
color: #FFFFFF;
box-shadow: inset 6px 6px 13px 0px rgba(0,0,0,0.473);
background-attachment: fixed;

}
section.com-imagem > p
{
    width: 700px;
    background-color: rgba(0,0,0,0.253);
    display: inline-block;
    text-shadow:1px 1px 0px black;
    padding-left: 5px;

}
section#imagem-um
{
background-image: url('../images/background001.jpg');
background-position: right center;
background-size: cover;
}
section#imagem-dois
{
background-image: url('../images/background002.jpg');
background-size: cover;
}
footer a:hover
{
    color: #FFFFFF;
    text-decoration: underline solid white;
    font-weight: bolder;
}
footer
{
    padding: 10px;
}